*{
    margin:0%;
    padding:0%
}

::-webkit-scrollbar{
    display:none;
}

.toast{
    font-family: 'Fira Code';
}

button{
    cursor: pointer;
}

input,textarea{
    font-family: 'Fira Code';
    background-color: var(--placeholder);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Code';
    font-size: medium;
    --theme: rgb(91, 6, 119);
    --placeholder:rgb(247, 225, 255);
    transition: all;
    overflow-x: hidden;
}


.logContainer{
    width: 30vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:60px auto;
    border: 3px solid var(--theme);
    border-radius: 35px;
    padding: 10px 0px;
}

.logContainer input{
    width:75%;
    height: 6.5vh;
    border-radius: 10px;
    margin: 20px 0px;
    outline: none;
    border:2px solid var(--theme);
    background: none;
    padding: 0px 6px;
    color: rgb(65, 65, 65);
    font-size: large;
}

nav{
    height: 9vh;
    background-color:rgb(174, 1, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbtn{
    width: fit-content;
    padding: 5px;
    border-radius: 8px;
    margin: 0px 5px;
    background-color: var(--theme);
    color: white;
    position: relative;
    right: 16px;
    text-decoration:none;
    transition: all;
    transition-duration: 0.5s;
    border: 2px solid white;
   
}
.navbtn:hover{
    background-color:rgb(63, 2, 83) ;
}

.logBtn{
    font-size: large;
    width: fit-content;
    padding: 5px;
    border-radius: 8px;
    border: none;
    margin: 5px 0px;
    background-color: var(--theme);
    color: white;
    cursor: pointer;
    border: 2px solid rgb(174, 1, 209);
    font-family: 'Fira Code';
   
}
.logBtn:hover{
    background-color:rgb(63, 2, 83) ;
}

nav h2{
    font-size: x-large;
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    font-family: 'Fira Code';
    font-weight: 500;
}
.inotebook{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    font-weight: 600;
}


.notesContainer{
    width: 99vw;
    height: fit-content;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    justify-content: center;
    align-items: center;
    margin: 10vh 0px;
}
.NotesCont{
    display: flex;
    justify-content: center;
}

.notes{
    border-radius: 0px;
    border: 2px solid var(--theme);
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(41, 41, 41);
}
.notes div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notes div p{
   width:fit-content;
}


.notes h2{
    width:90%;
    overflow-wrap: break-word;
    height: fit-content;
    font-weight: 500;
}

.notes p{
    width: 90%;
    height:fit-content;
    overflow-wrap: break-word;
    max-height: 15vw;
    overflow-y:auto;
    font-weight: 500;
}

.loader{
    display: "block";
    margin: auto;
    margin-top: 20vh;
    width: 25vw;
}

.home{
    padding: 4px 8px;
    position: relative;
    color: white;
    left:5px;
    bottom: 20px;
    font-size: large;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 10px;
    border: none;
    margin: 5px 0px;
    background-color: var(--theme);
    color: white;
    text-decoration: none;
    border: 2px solid rgb(174, 1, 209);
}
.home:hover{
    background-color:rgb(63, 2, 83);
}

.container{
    border: 3px solid var(--theme);
    width: 32vw;
    height: 70vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}
.container input,textarea{
    width: 70%;
    border-radius: 10px;
    border: 2px solid var(--theme);
    border-bottom: 3px solid var(--theme);
    background: none;
    margin: 20px 0px;
    height: 5vh;
    outline: none;
    padding: 4px 10px;
    font-size: large;
    color: rgb(34, 34, 34);
}
.container textarea{
    height: 25vh;
    border-radius: 13px;
}

@media (max-width:900px) and (min-width:600px){
    .notesContainer{
        grid-template-columns: 45vw 45vw;
    }

    .container{
        width: 70vw;
        height: 60vh;
    }
    .logContainer{
        width:70vw;
        height: 60vh;
    }
    body{
        font-size: medium;
    }
    .toast{
        width: 40vw;
    }
    .loader{
        display: "block";
        margin: auto;
        margin-top: 17vh;
        width: 28vw;
    }
}


@media (max-width:600px) and (min-width:0px){
    .notesContainer{
        grid-template-columns: 90vw;
    }

    .container{
        width: 83vw;
        padding: 0px;
        height: 55vh;
    }
    body{
        font-size: small;
    }
    nav h2{
        font-size: large;
        margin: 0px 20px;
    }
    .inotebook{
        font-size: larger;
    }
    .logBtn{
        font-size: medium;
    }
   .navbtn {
        font-size: medium;
        padding: 1px 4px;
    }
    .logContainer{
        width: 83vw;
        height: 55vh;
    }
    .toast{
        width: 70vw;
        margin: 10px;
    }
    .loader{
        display: "block";
        margin: auto;
        margin-top: 10vh;
        width: 35vw;
    }
}

