*{
    margin:0%;
    padding:0%
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
    font-size: medium;
    --theme: rgb(91, 6, 119);
    background: rgb(250, 224, 255);
    transition: all;
}

.logContainer{
    width: 30vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:60px auto;
    border: 3px solid var(--theme);
    border-radius: 0px;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    padding: 10px 0px;
}

.logContainer input{
    width:80%;
    height: 6.5vh;
    border-radius: 10px;
    margin: 20px 0px;
    outline: none;
    border: none;
    border-bottom:2px solid var(--theme);
    background: none;
    padding: 0px 6px;
    color: rgb(65, 65, 65);
    border-radius: 5px;
    font-size: large;
}

nav{
    background-color:rgb(174, 1, 209);
}

.navbtn{
    font-size: large;
    width: fit-content;
    padding: 4px 8px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    border: none;
    margin: 0px 5px;
    background-color: var(--theme);
    color: white;
    position: relative;
    right: 40px;
    text-decoration:none;
    transition: all;
    transition-duration: 0.5s;
    border: 2px solid white;
   
}
.navbtn:hover{
    background-color:rgb(63, 2, 83) ;
}

.logBtn{
    font-size: large;
    width: fit-content;
    padding: 4px 8px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    border: none;
    margin: 5px 0px;
    background-color: var(--theme);
    color: white;
   
}
.logBtn:hover{
    background-color:rgb(63, 2, 83) ;
}
nav{
    width:99vw;
    color:white;
}
nav h2{
    font-size: x-large;
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    font-family: 'Audiowide';
}
.inotebook{
    font-size: xx-large;
    color: rgb(255, 255, 255);
}


.notesContainer{
    width: 99vw;
    height: fit-content;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    justify-content: center;
    align-items: center;
    margin: 10vh 0px;
}
.notes{
    border-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius: 25px;
    border: 2px solid var(--theme);
    height: fit-content;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'poppins';
    color: rgb(41, 41, 41);
}
.notes div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notes div p{
   width:fit-content;
}


.notes h2{
    width:90%;
    overflow-wrap: break-word;
    height: fit-content;
    font-weight: 400;
}

.notes p{
    width: 90%;
    height:fit-content;
    overflow-wrap: break-word;
    max-height: 15vw;
    overflow-y:auto;
    font-weight: 500;
}

.home{
    padding: 4px 8px;
    position: relative;
    color: white;
    left:5px;
    bottom: 20px;
    font-size: large;
    width: fit-content;
    padding: 4px 8px;
    border-top-right-radius: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    border: none;
    margin: 5px 0px;
    background-color: var(--theme);
    color: white;
    text-decoration: none;
}
.home:hover{
    background-color:rgb(63, 2, 83);
}

.container{
    border: 3px solid var(--theme);
    width: 32vw;
    height: 70vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-left-radius:40px;
}
.container input,textarea{
    width: 80%;
    border-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid var(--theme);
    border-bottom: 3px solid var(--theme);
    background: none;
    margin: 20px 0px;
    height: 7vh;
    outline: none;
    padding: 4px 10px;
    font-size: large;
    color: rgb(34, 34, 34);
}
.container textarea{
    height: 25vh;
}

@media (max-width:900px) and (min-width:600px){
    .notesContainer{
        grid-template-columns: 45vw 45vw;
    }

    .container{
        width: 70vw;
        height: 60vh;
    }
    .logContainer{
        width:70vw;
        height: 60vh;
    }
    body{
        font-size: medium;
    }
}


@media (max-width:600px) and (min-width:0px){
    .notesContainer{
        grid-template-columns: 90vw;
    }

    .container{
        width: 83vw;
        padding: 0px;
        height: 55vh;
    }
    body{
        font-size: small;
    }
    nav h2{
        font-size: large;
        margin: 0px 20px;
    }
    .inotebook{
        font-size: larger;
    }
    .logBtn{
        font-size: medium;
    }
   .navbtn {
        font-size: medium;
        padding: 1px 4px;
    }
    .logContainer{
        width: 83vw;
        height: 55vh;
    }
}

